In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("cities.csv")
df.head()

,City,Country,Date,Latitude,Longitude,High Temperature (F),Humidity,Cloudiness,Wind Speed
0,Faya,SA,1568912728,18.39,42.45,80.60,13,20,16.11
1,Juneau,US,1568912502,58.30,-134.42,53.60,93,90,8.05
2,Aswan,EG,1568912731,24.09,32.90,102.20,17,0,6.93
3,Albany,US,1568912440,42.65,-73.75,66.99,39,1,4.70
4,Ust-Omchug,RU,1568912734,61.13,149.63,32.45,96,99,4.83

In [7]:
df.to_html("cities.html")